<template>
  <div>
    <section id="haus">
      <v-container grid-list-md>
        <v-layout column>
          <v-flex xs12>
            <v-card 
              color="blue-grey" 
              dark 
              tile 
              flat 
              height="300">
              <v-card-title primary-title>
                <h3 class="headline mb-0">Das Haus</h3>
              </v-card-title>
              <v-card-text>{{ lorem }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section id="preise">
      <v-container grid-list-md>
        <v-layout column>
          <v-flex xs12>
            <image-gallery />
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section id="anfahrt">
      <v-container grid-list-md>
        <v-layout column>
          <v-flex xs12>
            <v-card 
              color="indigo lighten-2" 
              dark 
              tile 
              flat 
              height="300">
              <v-card-title primary-title>
                <h3 class="headline mb-0">Anfahrt</h3>
              </v-card-title>
              <v-card-text>{{ lorem }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section id="kontakt">
      <v-container grid-list-md>
        <v-layout column>
          <v-flex xs12>
            <v-card 
              color="orange lighten-2" 
              dark 
              tile 
              flat 
              height="300">
              <v-card-title primary-title>
                <h3 class="headline mb-0">Kontakt</h3>
              </v-card-title>
              <v-card-text>{{ lorem }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section id="impressum">
      <v-container grid-list-md>
        <v-layout column>
          <v-flex xs12>
            <v-card 
              color="red lighten-2" 
              dark 
              tile 
              flat 
              height="300">
              <v-card-title primary-title>
                <h3 class="headline mb-0">Impressum</h3>
              </v-card-title>
              <v-card-text>{{ lorem }}</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
import ContactForm from '~/components/ContactForm.vue'
import ImageGallery from '~/components/ImageGallery'

export default {
  components: {
    ContactForm,
    ImageGallery
  },
  data: () => ({
    lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
  }),
  head: {
    script: [
      { src: '/redirect.js', body: true },
    ]
  },
  asyncData: async ({ app }) => ({
    posts: (await app
      .$content('/posts')
      .query({ exclude: ['body'] })
      .getAll()).sort((a, b) => new Date(b.date) - new Date(a.date))
  })
};
</script>

