<template>
  <v-container 
    grid-list-xl 
    pa-0>
    <v-layout wrap>
      <v-flex 
        v-for="(item, index) in items" 
        :key="index"
        xs12
        sm6
        md4>
        <a 
          :src="item.src"
          class="preview-img-item"
          @click="$photoswipe.open(index, items, { showHideOpacity: true })">
          <v-card
            :style="{ background: `rgba(0, 0, 0, 0) url('${item.thumbnail}') no-repeat scroll center center / cover`}"
            hover
            flat
            height="300"
          />
        </a>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      items: [{
        src: '/portfolio.jpg',
        thumbnail: '/thumbnail.jpg',
        w: 800,
        h: 600
      }, {
        src: '/portfolio2.png',
        thumbnail: '/thumbnail2.png',
        w: 800,
        h: 600
      },]
    }
  }
}
</script>