<template>
  <v-app>
    <v-toolbar 
      class="white" 
      fixed
      clipped-left
      app
      flat>
      <v-toolbar-title>Gasthaus Ochsen</v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items 
        v-for="item in items" 
        :key="item.title"
        class="hidden-sm-and-down">
        <v-btn 
          v-scroll-to="item.anchor" 
          flat>{{ item.title }}</v-btn>
      </v-toolbar-items>
      <v-toolbar-side-icon 
        class="hidden-md-and-up" 
        @click.stop="drawer = !drawer"/>
    </v-toolbar>
    <v-navigation-drawer
      v-model="drawer"
      app
      right
    >
      <v-list 
        class="pt-0"
        dense>
        <v-divider/>

        <v-list-tile
          v-for="item in items"
          :key="item.title"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-scroll-to="item.anchor" >{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <section>
      <v-parallax 
        src="hero.png" 
        height="600">
        <v-layout
          column
          align-center
          justify-center
          class="white--text"
        >
          <v-card 
            color="white" 
            tile 
            flat>
            <v-card-text>
              <v-btn 
                v-scroll-to="'#kontakt'"
                color="white"
                white 
              >Kontaktieren Sie uns</v-btn>
            </v-card-text>
          </v-card>
        </v-layout>
      </v-parallax>
    </section>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      items: [
        { title: 'Das Haus', anchor: '#haus', icon: 'home' },
        { title: 'Angebot', anchor: '#preise', icon: 'local_offer' },
        { title: 'Anfahrt', anchor: '#anfahrt', icon: 'map' },
        { title: 'Kontakt', anchor: '#kontakt', icon: 'email' },
      ]
    }
  }
}
</script>
